
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bootstrap redes sociales</title>
 
	  
	  
    <!-- Bootstrap Core CSS -->
    <link href="res/front/css/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="res/front/css/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="res/front/css/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="res/front/css/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="res/front/css/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" >

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42119746-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Botones sociales de Bootstrap</h1>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 social-buttons">
          <h3>Faceboock</h3>

					<div class="fb-page" data-href="https://www.facebook.com/imdb" 
		  data-width="340" data-hide-cover="false" data-show-facepile="true"
		  data-show-posts="false"></div>
			<a class="btn btn-social-icon btn-facebook fb-send" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);" href="https://www.facebook.com/imdb"><span class="fa fa-facebook"></span></a>


          <hr>

         
        </div>
 <div class="col-sm-4 text-center ">
		 <h3>Twitter</h3>
	
			  <a class="btn btn-social-icon btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);" href="https://twitter.com/frbautn"><span class="fa fa-twitter"></span></a>

	 
          </div>

      </div>
      <hr>
    </div>
		
		
		<iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1S4UxYEuq-t3MGUaK5Sv2c7IQvbcZCrUk_EOEn0tlwUY&font=Default&lang=es&initial_zoom=2&height=650' width='100%' height='650' frameborder='0'></iframe>
    </div>
 	



    </script>
	  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	  
	  
	  
  </body>
</html>
